<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341505507338-au3qjnj1acbdd6ibuarh5vsj7ugsrv0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341505507338-au3qjnj1acbdd6ibuarh5vsj7ugsrv0g</string>
	<key>API_KEY</key>
	<string>AIzaSyCPlYgmgYcnbLlUUjmPup_z8Dp9us5lcbc</string>
	<key>GCM_SENDER_ID</key>
	<string>341505507338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benjiloya.Recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-67a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-67a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341505507338:ios:2c88a25a9f5806ff3f5ff3</string>
</dict>
</plist>